{% extends "base.html" %}
{% load static %}
{% url 'home' as home_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}

{% block home_page %}
<div class="parallax-container">
    <div class="parallax">
        <img src="{% static 'images/hero-home.webp' %}" aria-label="Stethoscope and a mask in a green background">
    </div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">Welcome to TakeCare</h2>
        <h3>The Smart Inventory Management for Healthcare</h3>
        <p class="grey-text text-darken-3 lighten-3">
            TakeCare is designed to streamline inventory requests for healthcare facilities. Our system ensures that medical staff
            can efficiently request the supplies they need, while warehouse managers maintain full control over stock levels.
        </p>
    </div>
</div>
<div class="section blue-grey darken-1 grey-text text-lighten-5">
    <div class="row container">
        <h3 class="header">How It Works:</h3>
        <ul>
            <li class="home-list">
                <i class="material-icons left">assignment</i><strong>Healthcare Employees:</strong> Submit requests for medical supplies directly through the platform. Once approved, you'll receive
                a notification when your items are ready for pickup.
            </li>
            <li class="home-list">
                <i class="material-icons left">inventory</i><strong>Warehouse Managers:</strong> Upload stock, approve requests, and receive real-time alerts for low inventory, expiring items, and pending user
                approvals.
            </li>
            <li class="home-list">
                <i class="material-icons left">local_shipping</i><strong>Optimized Distribution:</strong> Ensure that supplies are organized and ready for collection, reducing delays and improving efficiency.
            </li>
        </ul> 
        <br>
        With TakeCare, healthcare professionals can focus on what matters most—providing excellent patient care.
    </div>
</div>
<div class="section white">
    <div class="row container">
        <h3>Contact</h3>
        <p class="grey-text text-darken-3 lighten-3">
            Interested? Please contact us at via
            <a href="mailto:mariafacchin00@gmail.com" class="cyan-text text-darken-3" aria-label="Send an email to Maria">e-mail</a>. 
            You can also follow us on 
            <a class="cyan-text text-darken-3 tooltipped" href="https://www.linkedin.com/" target="_blank"
                aria-label="Open LinkdIn page on a new tab" rel="noopener" data-tooltip="Follow us here" data-position="top">
                LinkedIn
            </a> 
            for updates and news.
        </p>
    </div>
</div>
{% endblock %}