{% extends "account/base.html" %}

{% load i18n %}
{% load custom_filters %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}
<div class="login-page">
  <h1 class="signin-title">{% trans "Sign In" %}</h1>

  <p>{% blocktrans %}If you don't have an account,
    <a href="{{ signup_url }}">sign up</a> for one first.{% endblocktrans %}
  </p>

  
  <form class="login col s12" method="POST" action="{% url 'account_login' %}">
    {% if form.non_field_errors %}
    <div class="alert alert-danger">
      {% for error in form.non_field_errors %}
      <p class="login-error">{{ error }}</p>
      {% endfor %}
    </div>
    {% endif %}
    {% csrf_token %}
    <div class="row">
      <div class="input-field col s10">
        <label for="id_login">Username</label>
        {{ form.login|add_class:"validate" }}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s10">
        <label for="id_password">Password</label>
        {{ form.password|add_class:"validate" }}
      </div>
    </div>
    <div class="input-field col s10">
      <p>
        <label>
          {{ form.remember }} <span>Remember Me</span>
        </label>
      </p>
    </div>
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
    {% endif %}
    <button class="btn waves-effect waves-light primaryAction" type="submit">{% trans "Sign In" %}</button>
  </form>
</div>

{% endblock content %}