{% extends "account/base.html" %}

{% load i18n %}
{% load custom_filters %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}
<div class="signup-page">
  <h1>{% trans "Sign Up" %}</h1>

  <p>
    {% blocktrans %}
    Already have an account? Then please <a href="{{ login_url }}">sign in</a>.
    {% endblocktrans %} Or go back to <a href="{% url 'home:home' %}">Home.</a>
  </p>

  <form class="signup col s12" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    <!-- Error displaying message when trying to register -->
    {% if form.non_field_errors %}
    <div class="error">
      {% for error in form.non_field_errors %}
      <p style="color: red;">{{ error }}</p>
      {% endfor %}
    </div>
    {% endif %}

    {% for field in form %}
    <p>
      {% if field.errors %}
      <span style="color: red;">
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </span>
      {% endif %}
    </p>
    {% endfor %}

    <!-- fields of the form -->
    <div class="row">
      <div class="input-field col s10">
        <label for="id_username">Username</label>
        {{ form.username|add_class:"validate" }}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s10">
        <label for="id_password1">Password</label>
        {{ form.password1|add_class:"validate" }}
        <small id="id_password1_helptext"> 
          Password must be at least 8 characters, not easily guessable, 
          and cannot be entirely numeric or match personal information.
        </small>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s10">
        <label for="id_password2">Confirm Password</label>
        {{ form.password2|add_class:"validate" }}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <label for="id_email">Email</label>
        {{ form.email|add_class:"validate" }}
      </div>
    </div>
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn waves-effect waves-light" type="submit">{% trans "Sign Up" %} &raquo;</button>
  </form>
</div>

{% endblock content %}