{% extends "base.html" %}
{% load static %}

{% block content %}

{% if orders %}
    <h2 class="orders-title">Orders</h2>
{% else %}
    <h2 class="orders-title">No past orders</h2>
{% endif %}
{% for order in orders %}
<ul class="order-list">
    <li>
        <a href="#" data-id="{{ order.id }}" id="order-{{ order.id }}" class="order-in-list">Order: {{ order.id }}</a>
        <p class="{% if order.status == 1 %}approved{% elif order.status == 2 %}rejected{% else %}pending{% endif %}">
            {{ order.get_status_display }}</p>
        <div class="order-details-div">
            <ul id="order-details">
            </ul>
        </div>
    </li>
</ul>
{% endfor %}

{% endblock %}