{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="authorized-main">
    <div class="form-text">
        <div class="information">
            <p>To use our system, please select the items you want to order. You can also filter them by category.
            Then, enter the quantity and click the <strong>"Add"</strong> button.</p>
            <p>When you have finished adding items, click the <strong>"Save"</strong> button to save your order.</p>
        </div>
        <span class="close-form-text">&times;</span>
    </div>
    <form method="post" id="order-form" action="{% url 'create_order' %}">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s12 m4">
                <select name="category" id="category">
                    <option value="" disabled selected>Choose your option</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-field col s12 m4">
                <select name="item" id="item">
                    {% for item in items %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-field col s12 m4">
                <input type="number" name="item-quantity" id="item-quantity" min="1" placeholder="Quantity">
            </div>
        </div>
    </form>
    <button type="button" class="add-item btn-small cyan darken-4 tooltipped"
        data-action="{% url 'add_item_to_session' %}" data-tooltip="Add item to order">
        Add
    </button>
    <div id="message"></div>

    <div class="item-display">
        <h2 class="item-list-title"></h2>
        <ul id="item-list">
        </ul>
    </div>
    <button type="submit" class="submit-order btn-small cyan darken-4 tooltipped"
        data-tooltip="Save your order">
        Save<i class="material-icons right">send</i>
    </button>
</div>
{% endblock %}