{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/errors.css' %}">
    <title>Oops, lost page</title>
</head>
<body>
    <img src="{% static 'images/wrong-way.webp' %}" alt="Sign saying wrong way" class="desktop-img">
    <img src="{% static 'images/wrong-way-phone.webp' %}" alt="Sign saying wrong way" class="phone-img">
    <div class="message-container error-404">
        <h1>Oops, you're lost!</h1>
        <p>It seems you've taken a wrong turn. Don't worry, it happens to the best of us. Here's a little help to get you back on track:</p>
        <a href="{% url 'home:home' %}">Go back home</a>
    </div>
</body>
</html>