{% load static %}
{% url 'order' as order_url %}
{% url 'order_view' as orders_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>TakeCare</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" 
        content="Inventory management app for health workers. Workers can request items directly to the warehouse where the manager will approve or not, as well as manage stock levels">
    <meta name="keywords" 
        content="health clinic inventory, medical inventory management, hospital stock tracking, clinic supplies management, medical inventory software, healthcare stock control, Django inventory system, track medical supplies, pharmacy inventory, healthcare logistics">
    <meta name="author" content="Maria Ciceri">
    <meta name="google-site-verification" content="51BPjaY_z80KTAfJtamYZRYnyiGplCfcol40QwnoGxI" />
    <meta name="csrf-token" content="{{ csrf_token }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/order.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/pills-16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/pills-32.png' %}">
</head>

<body class="base-body">
    <header>
        <nav class="{% if user.is_authenticated %}authorized-nav{% else %}blue-grey{% endif%}">
            <div class="nav wrapper">
                <a href="{{ order_url }}" class="brand-logo right" {% if user.is_authenticated %}id="brand-logo-color"{% endif %}>
                    TakeCare
                </a>
                <a href="{{ order_url }}" data-target="mobile-demo" class="sidenav-trigger" {% if user.is_authenticated %}id="sidenav-trigger"{% endif %}>
                    <i class="material-icons">menu</i>
                </a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    {% if user.is_authenticated and user.is_approved %}
                    <li>
                        <a class="{% if request.path == order_url %}active" aria-current="page{% endif %}"
                            href="{{ order_url }}">
                            {% if request.path == '/home/' %}Start{% else %}Home{% endif %}
                        </a>
                    </li>
                    <li>
                        <a class="{% if request.path == orders_url %}active" aria-current="page{% endif %}"
                            href="{{ orders_url }}">
                            Orders
                        </a>
                    </li>
                    {% elif not user.is_authenticated %}
                        <li>
                            <a class="{% if request.path == login_url %}active" aria-current="page{% endif %}" href="{{ login_url }}">
                                Login
                            </a>
                        </li>
                        <li>
                            <a class="{% if request.path == signup_url %}active" aria-current="page{% endif %}" href="{{ signup_url }}">
                                Register
                            </a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li>
                        <a aria-current="page" href="{{ logout_url}}">
                            Logout
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <ul id="mobile-demo" class="sidenav">
            {% if user.is_authenticated and user.is_approved %}
            <li>
                <a class="{% if request.path == order_url %}active" aria-current="page{% endif %}"
                    href="{{ order_url }}">
                    {% if request.path == '/home/' %}Start{% else %}Home{% endif %}
                </a>
            </li>
            <li>
                <a class="{% if request.path == orders_url %}active" aria-current="page{% endif %}"
                    href="{{ orders_url }}">
                    Orders
                </a>
            </li>
            {% elif not user.is_authenticated %}
            <li>
                <a class="{% if request.path == login_url %}active" aria-current="page{% endif %}" href="{{ login_url }}">
                    Login
                </a>
            </li>
            <li>
                <a class="{% if request.path == signup_url %}active" aria-current="page{% endif %}" href="{{ signup_url }}">
                    Register
                </a>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
            <li>
                <a aria-current="page" href="{{ logout_url}}">
                    Logout
                </a>
            </li>
            {% endif %}
        </ul>
        <p class="greeting">{% if user.is_authenticated %}Hello, {{ user }} {% endif %}</p>
    </header>
    <main>
        {% if request.path == '/home/' %}
            {% block home_page %}
            {% endblock %}
        {% else %}
            {% if user.is_authenticated and user.is_approved %}
                    {% block content %}
                    {% endblock %}
            {% elif user.is_authenticated %}
            <div class="not-authorized-main">
                <div class="not-authorized">
                    <h1>Welcome to TakeCare</h1>
                    <p>To use our page you must register and be approved by your manager.</p>
                    <p>If you have register and need to access our website, please contact the responsible person to
                        authorize you.
                    </p>
                </div>
            </div>
            {% endif %}
        {% endif %}
    </main>
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2025 Copyright TakeCare All Rights Reserved
                <a class="grey-text text-lighten-4 right tooltipped" href="https://www.linkedin.com/"
                target="_blank" aria-label="Open LinkedIn page on a new tab" rel="noopener" 
                data-tooltip="Follow us here" data-position="top">
                    LinkedIn<i class="material-icons right">linkedin</i>
                </a>
            </div>
        </div>
    </footer>
</body>

</html>