{% load static %}
{% url 'order' as home_url %}
{% url 'order_view' as orders_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>TakeCare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/order.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/pills-16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/pills-32.png">
</head>

{% if user.is_authenticated and user.is_approved %}

<body class="authorized-body">
    <header>
        <nav class="authorized-nav">
            <div class="nav wrapper">
                <a href="{{ home_url }}" class="brand-logo right" id="brand-logo-color">TakeCare</a>
                <a href="{{ home_url }}" data-target="mobile-demo" class="sidenav-trigger"><i
                        class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a class="{% if request.path == home_url %}active" aria-current="page{% endif %}"
                            href="{{ home_url }}">Home</a></li>
                    <li><a class="{% if request.path == orders_url %}active" aria-current="page{% endif %}"
                            href="{{ orders_url }}">Orders</a></li>
                    <li><a aria-current="page"
                            href="{{ logout_url}}">Logout</a></li>
                </ul>
            </div>
        </nav>

        <ul id="mobile-demo" class="sidenav">
            <li><a class="{% if request.path == home_url %}active" aria-current="page{% endif %}"
                    href="{{ home_url }}">Home</a>
            </li>
            <li><a class="{% if request.path == orders_url %}active" aria-current="page{% endif %}"
                    href="{{ orders_url }}">Orders</a></li>
            <li><a aria-current="page"
                    href="{{ logout_url}}">Logout</a></li>
        </ul>
        <p class="greeting">Hello, {{ user }}</p>
    </header>
    <main>
        {% block content %}
        {{ block.super }}
        {% endblock %}
    </main>
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2025 Copyright TakeCare All Rights Reserved
            </div>
        </div>
    </footer>
</body>

{% else %}

<body>
    <nav class="blue-grey lighten-1">
        <div class="not-authorized-nav">
            <a href="{{ home_url }}" class="brand-logo right">TakeCare</a>
            <a class="{% if request.path == logout_url %}active" aria-current="page{% endif %}" href="{{ logout_url}}">Logout</a>
        </div>
    </nav>
    <div class="not-authorized-body">
        <div class="not-authorized">
            <h1>Welcome to TakeCare</h1>
            <p>To use our page you must register and be approved by your manager.</p>
            <p>If you have register and need to access our website, please contact the responsible person to
                authorize you.
            </p>
        </div>
    </div>
   
</body>
{% endif %}

</html>