.home-list {
    padding: 10px 0;
}

@media screen and (max-width: 768px) {

    .parallax-container {
        height: 200px !important;
    }
    
    img {
        height: 100%;
        object-fit: cover;
    }
}